.filter-form, #title {
  margin: 0 5% 0 8%;
}

select, input {
  max-width: 260px;
}

button {
  width: 100px;
  margin-right: 10px;
}

p {
  font-size: small;
  color: #0000EE;
  margin-top: 5px;
}

p:hover {
  text-decoration: underline;
  cursor: pointer;
}

span, .errorMsg {
  color: red;
}

#reload {
  color: gray;
  cursor: pointer;
  font-size: 1.3em;
  border: 1px solid black;
  padding: 0 10px 0 10px;
}

#reload:hover {
  background-color: whitesmoke;
}
