<div id="title">
  <div class="row">
    <div class="col-sm-7">
      <h3>{{filterByLocation ? "Filter" : 'Search'}} By</h3>
    </div>
    <div class="col-sm-2">
      <span id="reload" (click)="reload()"><i [ngClass]="loadingData? 'fa fa-refresh fa-spin' : 'fa fa-refresh'"></i></span>
    </div>
  </div>
</div>
<br>
<div class="filter-form" *ngIf="!loadingData && loadingDataFailed">
  Loading Failed
</div>
<div class="filter-form" *ngIf="!loadingData && !this.loadingDataFailed">
  <div class="form-group">
    <label for="dept-option" class="form-label">Department:</label>
    <input class="form-control" list="deptList" [(ngModel)]="inputDept" (ngModelChange)="changeDept()">
    <datalist id="deptList">
      <option *ngFor="let dept of allDepartments" [ngValue]="dept">{{dept.deptName}}</option>
    </datalist>
    <small class="errorMsg" *ngIf="!validDept">Department Not Available</small>
  </div>
  <div class="form-group">
    <label for="prod-option" class="form-label">Product: <span *ngIf="!filterByLocation">*</span></label>
    <input class="form-control" list="productList" [(ngModel)]="inputProduct">
    <datalist id="productList">
      <option *ngFor="let prod of filterProducts" [ngValue]="prod">{{prod.productName}}</option>
    </datalist>
    <small class="errorMsg" *ngIf="!validProduct">Product Not Available</small>
  </div>
  <div class="form-group" *ngIf="filterByLocation">
    <label for="loc-option" class="form-label">Location:</label>
    <input class="form-control" list="locationList" [(ngModel)]="inputLocation">
    <datalist id="locationList">
      <option *ngFor="let loc of allLocations" [ngValue]="loc">{{loc.locName}}</option>
    </datalist>
    <small class="errorMsg" *ngIf="!validLocation">Location Not Available</small>
  </div>
  <p *ngIf="filterByLocation" (click)="toggleSearchMethod()">Find Nearest Location</p>
  <div class="form-group"  *ngIf="!filterByLocation">
    <div class="form-group">
      <label for="zipCode">Zip Code: <span>*</span></label>
      <input type="text" id="zipCode" class="form-control" placeholder="Enter 5 Digits Zip Code" required [(ngModel)]="givenZipCode">
      <small class="errorMsg" *ngIf="!validZipCode">Invalid Zip Code</small>
    </div>
    <div class="form-group">
      <label for="radius">Radius:</label>
      <div class="row">
        <div class="col-sm-6">
          <input type="number" id="radius" class="form-control" 
                 placeholder="0" min=0 step="0.5" [max]="availabilityService.unit==='Mile' ? 18.6 : 30" 
                 [(ngModel)]="givenRadius">
        </div>
        <div class="col-sm-4">
          <select name="unit-selector" class="custom-select" [(ngModel)]="availabilityService.unit">
            <option value="Mile">Mile</option>
            <option value="Km">Km</option>
          </select>
        </div>
      </div>
      <small class="errorMsg" *ngIf="!validRadius">Invalid radius range</small>
    </div>
    <p (click)="toggleSearchMethod()">Filter By Given Location</p>
  </div>
  <div class="form-group">
    <button class="btn btn-outline-secondary" (click)="clearFilter()">Clear</button>
    <button class="btn btn-outline-info" (click)="filterByCondition()" *ngIf="filterByLocation">Filter</button>
    <button class="btn btn-outline-info" (click)="searchNearestLocation()" *ngIf="!filterByLocation" [disabled]="!inputProduct || !givenZipCode">Search</button>
  </div>
</div>