<div class="loading-spinner" *ngIf="availabilityService.loading">
  <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="!availabilityService.loading">
  <div class="row">
    <div class="col-sm-9">
        <span class="search-condition" *ngIf="balanceService.searchedDepartment && !availabilityService.showDistance">
          {{balanceService.searchedDepartment.deptName}} <span class="remove-condition" (click)="removeCondition('dept')">&#10007;</span>
        </span>
        <span class="search-condition" *ngIf="balanceService.searchedProduct">
          {{balanceService.searchedProduct.productName}} <span class="remove-condition" *ngIf="!availabilityService.showDistance" (click)="removeCondition('prod')">&#10007;</span>
        </span>
        <span class="search-condition" *ngIf="balanceService.searchedLocation && !availabilityService.showDistance">
          {{balanceService.searchedLocation.locName}} <span class="remove-condition" (click)="removeCondition('loc')">&#10007;</span>
        </span>
        <span class="search-condition" *ngIf="availabilityService.showDistance">
          Zip Code: {{balanceService.searchedZipcode}}
        </span>
        <span class="search-condition" *ngIf="availabilityService.showDistance">
          {{balanceService.searchedRadius}} {{availabilityService.currentUnit}}
        </span>
    </div>
    <p class="col-sm-3">{{availabilityService.numberOfItem}} Record{{availabilityService.availableItems.length > 1 ? "s" : ""}} Found</p>
  </div>
  <div id="content-table">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Department</th>
          <th scope="col">Product</th>
          <th scope="col" class="hovered" (click)="reorder('amount')">Amount &#8597;</th>
          <th scope="col">Location</th>
          <th scope="col">Zip Code</th>
          <th scope="col" class="hovered" (click)="reorder('distance')" *ngIf="availabilityService.showDistance">Distance &#8597;</th>
        </tr>
      </thead>
      <tbody>
        <tr class="hovered" *ngFor="let availableItem of availabilityService.availableItems">
          <td>{{availableItem.product.dept.deptName}}</td>
          <td>{{availableItem.product.productName}}</td>
          <td>{{availableItem.amount}}</td>
          <td>{{availableItem.location.locName}}</td>
          <td>{{availableItem.location.zipCode}}</td>
          <td *ngIf="availabilityService.showDistance">{{availableItem.distance}} {{availabilityService.currentUnit}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <div id="pageSelector" class="text-center">
    <button class="btn btn-outline-info" [disabled]="availabilityService.currentPage===1" 
            (click)="changePage(availabilityService.currentPage-1)">&#8249;
    </button>
    <button [ngClass]="availabilityService.currentPage===1?'btn btn-info':'btn btn-outline-info'" 
            [disabled]="availabilityService.currentPage===1" (click)="changePage(1)">1
    </button>
    <button class="btn btn-outline-white btn-sm" disabled 
            *ngIf="availabilityService.currentPage-2>1">&#8230;
    </button>
    <button class="btn btn-outline-info" 
            *ngIf="availabilityService.currentPage===availabilityService.totalPage && availabilityService.totalPage>4" 
            (click)="changePage(availabilityService.currentPage-2)">{{availabilityService.currentPage-2}}
    </button>
    <button class="btn btn-outline-info" *ngIf="availabilityService.currentPage>2" 
            (click)="changePage(availabilityService.currentPage-1)">{{availabilityService.currentPage-1}}
    </button>
    <button class="btn btn-info" disabled 
            *ngIf="availabilityService.currentPage!==1 && availabilityService.currentPage!==availabilityService.totalPage">
            {{availabilityService.currentPage}}
    </button>
    <button class="btn btn-outline-info" (click)="changePage(availabilityService.currentPage+1)" 
            *ngIf="availabilityService.totalPage-1>availabilityService.currentPage">{{availabilityService.currentPage+1}}
    </button>
    <button class="btn btn-outline-info" (click)="changePage(availabilityService.currentPage+2)" 
            *ngIf="availabilityService.currentPage===1 && availabilityService.totalPage>4">{{availabilityService.currentPage+2}}
    </button>
    <button class="btn btn-outline-white btn-sm" disabled 
            *ngIf="availabilityService.totalPage-availabilityService.currentPage>2">&#8230;
    </button>
    <button *ngIf="availabilityService.totalPage>1" 
            [ngClass]="availabilityService.currentPage===availabilityService.totalPage?'btn btn-info':'btn btn-outline-info'" 
            [disabled]="availabilityService.currentPage===availabilityService.totalPage" 
            (click)="changePage(availabilityService.totalPage)">{{availabilityService.totalPage}}
    </button>
    <button class="btn btn-outline-info" 
            [disabled]="availabilityService.currentPage>=availabilityService.totalPage" 
            (click)="changePage(availabilityService.currentPage+1)">&#8250;
    </button>
    <button id="goto-page-btn" class="btn btn-sm btn-outline-secondary" 
            (click)="changePage(inputPageNum)" 
            [disabled]="2>availabilityService.totalPage || !inputPageNum || 1>inputPageNum || inputPageNum%1!==0">Go To
    </button>
    <input type="number" min="1" required [(ngModel)]="inputPageNum"><span id="page" style="color: gray;">Page</span>
  </div>
</div>
