<div class="loading-spinner" *ngIf="availabilityService.loading">
  <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="!availabilityService.loading">
  <p>{{availabilityService.availableItems.length}} Record{{availabilityService.availableItems.length > 1 ? "s" : ""}} Found</p>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Department</th>
        <th scope="col" class="hovered" (click)="reorder('product')">Product &#8597;</th>
        <th scope="col">Amount</th>
        <th scope="col">Location</th>
        <th scope="col" class="hovered" (click)="reorder('location')">Zip Code &#8597;</th>
      </tr>
    </thead>
    <tbody>
      <tr class="hovered" *ngFor="let availableItem of availabilityService.availableItems">
        <td>{{availableItem.product.dept.deptName}}</td>
        <td>{{availableItem.product.productName}}</td>
        <td>{{availableItem.amount}}</td>
        <td>{{availableItem.location.locName}}</td>
        <td>{{availableItem.location.zipCode}}</td>
      </tr>
    </tbody>
  </table>
</div>
