table {
  margin-left: 0%;
  max-width: 95%;
}

tbody .hovered:hover {
  background-color: whitesmoke;
}

thead .hovered:hover {
  background-color: black;
  cursor: pointer;
}

.loading-spinner {
  text-align: center;
  margin-top: 10vh;
}
